/* ---Pitt blue : 1c2957 ---Pitt gold : cdb87d  */

* {
  padding:0;
  margin:0;


  /* This is the ultimate CSS debugger for Cordova. */
  /* border: 1px solid red; */
}
#nav {
  width: 100vw;
}
.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    padding: 20px 0 10px 0;
    box-shadow: 0px -1px 2px 1px black;
}


.jumbotron img { /* this fixes the image centering on the profile page */
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.profileStats { 
  text-align: center;
}