#nav {
    display: none;
}
#login {
    display: none;
}
#signup {
    display: none;
}

#profile {
    display: none;
}
#events {
    display: none;
}
#eventcreate {
    display: none;
}
#nfccheckin {
    display: none;
}