#nav {
    
}
#login {
    display: none;
  }
  
  #signup {
    display: none;
  }
  
  #profile {
    display: none;
  }
  
  #events {
    display: none;
  }
  
  #eventcreate {
    display: none;
  }
  
  #nfccheckin {
    display: none;
  }
  
  #profileedit {
    display: none;
  }
  
  #passChange { 
    display: none;
  }